<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Restaurant{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to Our Restaurant</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer style="text-align: center;padding:10px; background-color: #f1f1f1;">
        <p>&copy; <span id="year"></span> My Restaurant. All rights reserved.</p>
    </footer>

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </body>
    </html>
